@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
    border-collapse: collapse;
}

.debug {
    border: 1px solid red;
}

header {
  @apply max-w-full
}

.letter-spacing-descubre{
    letter-spacing: 4px;
}
.texto-grande{
    @apply pt-16 pl-40 flex align-middle font-normal items-center text-2xl gap-4 text-gray-500;
}
.titulo-prefooter{
    @apply text-gray-950 text-lg font-medium items-center pt-[24.86px];
}
.contenido-prefooter{
    @apply grid w-[398px] text-gray-500  align-middle text-center justify-items-center;
}
.enlace-prefooter{
    @apply cursor-pointer font-normal pt-[9px] text-center text-link-prefooter-blue;
}

hr {
    @apply border-t border-gray-300;
  }
  button {
    @apply h-12 w-32 rounded-md bg-[#3483fa] text-base font-semibold leading-10 text-white;
  }
  
  .sections-title {
    @apply text-[25px] font-light leading-[26px] text-section-title;
  }
  .sections-blue {
    @apply text-lg font-normal leading-5 text-blue-500;
  }
  
  .benefits-card {
    @apply relative h-[250px] w-[384px]  rounded-md;
  }
  .benefits-image {
    @apply left-0 top-0 rounded-md;
  }
  .benefits-info {
    @apply relative  top-[126px] grid h-[124px] grid-cols-[112px,auto];
  }
  .benefits-info-description {
    @apply ml-[22px] mr-0 mt-8 flex flex-col items-start  justify-center text-white;
  }
  .benefits-info-logo {
    @apply mx-4 mb-4 mt-7;
  }
  .benefits-info-description-title {
    @apply flex text-[22px] font-semibold leading-6 text-white;
  }
  .benefits-info-description-trial {
    @apply text-sm font-semibold leading-4 text-white;
  }
  .benefits-info-description-subtitle {
    @apply text-xs font-normal leading-5 pt-[50px] text-white;
  }
  